[Match]
Name=end0

[Network]
DNS=10.100.0.1
Address=10.100.0.200/24
Gateway=10.100.0.1

# to enable static IP on eth0/end0:
# $> cp 80-wired.network 80-wired.network.notused
# $> cp 52-static.network.static 52-static.network
# $> systemctl restart systemd-networkd.service
